// portfolio
// Lorem app
.lorem {

	&__para-num {
		margin: 1rem 0 0 -2rem;
	}

	&__para-num input {
		line-height: 2em;
		text-align: center;
		border-radius: 3px;
		border: none;
		padding: 0 .5rem;
		height: 2em;
		width: 3em;
	}

	&__para-length {
		margin: 1rem 0 0 -2rem;
	}

	&__text {
		background: $white;
		color: $black;
		text-shadow: none;
		padding: 1rem 1.5rem;
		margin: 4rem 0;
		border-radius: .5rem;

		@media (min-width: $small) {
			padding: 1rem 3rem;
			margin: 4rem 2rem;
		}
	}
}





.gallery {
	a {
		width: 10rem;
		display: inline-block;
		height: 10rem;
		opacity: 1;
		margin: 0 5px 5px 0;
	}

	img {
		max-width: 100%;
		box-shadow: 2px 2px 0px rgba(0, 0, 0, .1);
	}
}


.IN-widget {
	max-width: 100%;
	overflow: auto;
}