// Variables

// color
// https://color.adobe.com/Life-Aquatic-color-theme-7781545/
$lightblue: #75A9B6;
$blue: #4587A1;
$yellow: #DCBA32;
$orange: #D19C18;
$red: #D42C08;
$white: #FFF;
$black: #333;
$tan: #E7F2BD;
$bgyellow: #F0CA5A;

$body-color: $black;

// breakpoints
$small: 20rem;
$medium: 50rem;
$large: 100rem;

$max-width: 100rem;

// Fonts
$monospace-font: 'VT323', monospace;
$secondary-font: 'Didact Gothic', monospace;
$body-font: 'Vollkorn', sans-serif;
$display-font: 'Abril Fatface', sans-serif;
// $display-font: 'Ultra', serif;

@mixin monospace-font() {
	font-family: $monospace-font;
	font-weight: normal;
}

@mixin body-font() {
	font-family: $body-font;
	font-weight: 300;
}

@mixin display-font() {
	font-family: $display-font;
	font-weight: normal;
}

// easing
@mixin ease-out-back( $property, $time ) {
	-webkit-transition: $property $time cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition:         $property $time cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

@mixin ease-in-out-expo( $property, $time ) {
	// -webkit-transition: $property $time cubic-bezier(0.175, 0.885, 0.32, 1.275);
	// transition:         $property $time cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-webkit-transition: $property $time cubic-bezier(1, 0, 0, 1);
	transition:         $property $time cubic-bezier(1, 0, 0, 1);
}

