// Variables

// color
// https://color.adobe.com/Life-Aquatic-color-theme-7781545/
$lightblue: #75A9B6;
$blue: #4587A1;
$yellow: #DCBA32;
$orange: #D19C18;
$red: #D42C08;
$white: #FFF;
$black: #333;


// breakpoints
$small: 768px;
